.modo-oscuro {
  background-color: #121212;
  color: #e0e0e0;
}

.modo-oscuro .card {
  background-color: #1e1e1e;
  color: #fff;
  border-color: #333;
}

.modo-oscuro .navbar {
  background-color: #1e1e1e !important;
}

.modo-oscuro footer {
  background-color: #1e1e1e;
  color: #e0e0e0;
}
